onlineTest.html
circuit_python_files/.fseventsd/*
circuit_python_files/lib/quotes/*
circuit_python_files/sd/*
circuit_python_files/.metadata_never_index
circuit_python_files/.Trash-1000 
circuit_python_files/.Trashes
circuit_python_files/boot_out.txt
circuit_python_files/settings.toml